* {
    padding: 0;
    margin: 0;

    letter-spacing: .05em;
}
html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    height: 100%;
    background-image: linear-gradient(to right,#FFD6C2,#FCCB8F);
}

.login-wrapper {
    background-color: #fff;
    width: 320px;
    height: 800px;
    padding: 0 50px;
    position: relative;
    left:98%;
    border-radius: 15px;
    top:50%;
    transform: translate(-50%,-50%);
}
.login-wrapper .header {
    font-size:  30px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
}

.login-wrapper .form-wrapper .input-item {
    display: inline;
    width: 100%;
    margin-bottom: 30px;
    border: none;
    padding: 10px;
    border-bottom: 2px solid rgb(128,125,125);
    font-size: 20px;
    outline: none;
    background: #C1F1F8;
}

.login-wrapper .form-wrapper .input-item::placeholder {
    text-transform: uppercase;
}

.login-wrapper .form-wrapper .btn {
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    background: #C1F1F8;
    color: #fff;
}

.login-wrapper  .msg {
    text-align: center;
    line-height: 80px;
}

.login-wrapper  .msg a  {
    text-decoration-line:  none;
    color: #a6c1ee;
}
