html, body {
    min-height: 100vh;
    min-width: 100vw;
    height:100%;
    overflow:auto;
    background-color: rgb(250, 244, 236);
}

.dashboardContent {
    display:inline-grid;
    width:80%;
    height:100%;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
    position:fixed;
    row-gap:30px;
    grid-template-rows: 120px 200px 500px;
}

.dashboardHeader {
    width:100%;
    border-bottom: 2px;
    border-color: rgb(163, 163, 163);
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(220, 255, 255, 0.2);
}

.dashboardHeader h1 {
    display:inline-block;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-size: 50px;
    margin-top:30px;
    margin-left:30px;
}

.dashboardHeader a {
    display:inline-block;
    width: 200px;
    left: 60%;
    position: relative;
    text-decoration: none;
    text-align: center;
}

.dashboardHeader img {
    width: 30px;
    position: relative;
}

.dashboardSubheader {
    width:100%;
    border-bottom: 2px;
    border-color: rgb(163, 163, 163);
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(220, 255, 255, 0.2);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.dashboardPanel {
    margin:10px;
    background-color: rgba(167, 219, 221, 0.3);
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    color:black;
    overflow:auto;
}

.dashboardPanel:hover {
    background-color: rgba(157, 247, 253, 0.3);
    border-color:rgba(88, 88, 88, 0.3);
    border-style:solid;
    border-bottom-width:2px;
    border-right-width:2px;
}

.panelHeader {
    margin-top:10px;
    margin-left:10px;
    height:17%;
    width:70%;
    display:block;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border-bottom:2px;
    border-color:rgba(88, 88, 88, 0.3);
}

.panelContent {
    vertical-align: top;
    height:70%;
    width:99%;
}

.panelMainText {
    height:100%;
    font-size: 100px;
    margin-left:10px;
    margin-top:10px;
    display: inline-block;
}

.panelSecText {
    vertical-align: bottom;
    height:50%;
    font-size: 20px;
    margin-left:10px;
    display: inline-block;
}

.messagesDisplay {
    position:relative;
    vertical-align: top;
    width:60%;
    display: inline-grid;
    grid-template-rows: 24% 24% 24% 24%;
    grid-gap: 2px;
    border-width:2px;
    border-color:rgb(128, 128, 128);
    border-style:solid;
    border-radius: 18px 18px 18px 18px;
}

.panelMessage {
    width:98%;
    display:grid;
    grid-template-columns: 20% 80%;
    background-color:aquamarine;
    border-width:2px;
    border-style:solid;
    border-color:rgba(88, 88, 88, 0.3);
    border-radius: 13px 13px 13px 13px;
}

.panelMessage img {
    width:65%;
    border-radius: 50%;
}

.panelMessage p {
    font-size: 12px;
    word-wrap: break-word;
}

.dashboardSummary {
    background-color: rgba(220, 255, 255, 0.2);
    border-bottom: 2px;
    border-color: rgb(163, 163, 163);
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(220, 255, 255, 0.2);
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.summaryColumn {
    margin-top:15px;
    margin-left:25px;
    height:95%;
    background-color: rgba(167, 219, 221, 0.3);
    display: grid;
    border-bottom: 2px;
    border-right:2px;
    border-color: rgb(163, 163, 163);
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(220, 255, 255, 0.2);
}

#eventsCalendar {
    grid-template-rows: 30% 70%;
}

#taskChecklist,
#recentConnections
{
    grid-template-rows: 10% 90%;
}

.upcomingEvents {
    height:100%;
    width:100%;
    display:grid;
    grid-template-rows: 20% 80%;
}

.upcomingEvents p{
    font-size: 20px;
}

.eventsDisplay {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
}

.event {
    width: 90%;
    margin-left: 5%;
    border-width: 2px;
    border-color: rgb(163, 163, 163);
    border-style: solid;
    border-radius: 5px;
    background-color: rgba(180, 253, 253, 0.2);
}

.calendar {
    width:100%;
    height:100%;
}

.taskchecklistHeader,
.recentConnectionHeader{
    margin:10px;
    font-size: 30px;
}

.checklistDisplay,
.connectionsDisplay {
    width:95%;
    height:95%;
    display:grid;
    background-color: rgba(180, 253, 253, 0.2);
    border-radius: 20px;
    margin: 10px;
    border-width: 2px;
    border-color: rgb(163, 163, 163);
    border-style: solid;
}